@import '../../PartialStyles/fonts';
@import '../../PartialStyles/variables';
@import '../../PartialStyles/mixins';

.OneProduct {
    font-family: "AvenirNextRegular";

    &__container {
        width: 90%;
        margin: 0 auto;
        padding-top: 2.5rem
    }

    &__header {
        display: flex;
        align-items: center;
        font-family: 'AvenirNextBold';
        font-size: 4rem;
        color: $black;
        margin-bottom: -0.1rem;
        height: 7rem
    }

    &__backBtn {
        width: 2.25rem;
        margin-right: 2rem;
        
    }

    &__stock-btn {
        background-color: $green;
        border: none;
        padding: 1rem 3rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        font-family: 'AvenirNextDemiBold';
        color: $white;

        &--outstock {
            background-color: $red;
        }
    }

    &__section-container {
        margin-top: 3rem;

        
    }

    &__title {
        margin-bottom: 1.5rem;
        font-size: 1.75rem;
        text-transform: uppercase;
        color: $grey;
    }

    &__info {
        font-size: 1.7rem;
    }

    &__edit-btn {
        margin-top: 4rem;
        width: 100%;
        padding: 2rem;
        font-size: 2rem;
        font-family: 'AvenirNextDemiBold';
        text-transform: uppercase;
        color: $white;
        background-color: $blue;
        border: none;
        border-radius: 0.4rem;
    }

}

@include tablet {
    .OneProduct {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__sections-container {
        
            display: flex;
            justify-content: space-between;
            
        }

        &__section-container {
            margin-right: auto;
            width: 20rem;

            &--description {
                width: 100%
            }

            &--category {
                width: 100%;
                border-bottom: 0.15rem solid $light-grey;
                padding-bottom: 3rem;
            }
        }

        &__edit-btn {
            width: 25rem;
            margin-left: auto;
        }

        &__header-container {
            display: flex;
            align-items: center;
        }

        &__stock-btn {
            margin-left: 4rem;
            margin-bottom: 2rem;
        }
    }
}

@include desktop {
    .OneProduct {

        &__information-container {
            width: 100%;
        }

        &__all-sections-container {
            display: flex;
            border-bottom: 0.15rem solid $light-grey;
        }

        &__section-container {

            &--category {
                border: none;
            }
        }

        &__header-container {
            border-bottom: 0.15rem solid $light-grey;
            padding-bottom: 5rem;
        }
    }
}