@import '../../PartialStyles/mixins';
@import '../../PartialStyles/variables';
@import '../../PartialStyles/fonts';


.Nav {
    height: 15vh;
    background-color: $black;
    font-family: "AvenirNextRegular";
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__logo-container {
        height: 7vh
    }

    &__logo {
        margin-top: 1.6rem;
        width: 17.5rem
    }

    &__links-container {
        height: 8vh
    }

    &__list {
        height: 100%;
        display: flex;
    }

    &__list-item {
        width: 50%;
        height: 100%;
        display: flex;
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey;
        font-size: 2rem;
        text-decoration: none;

        &--active {
            color: $off-white;
            border-bottom: $off-white solid .3rem;
        }
    } 
}

@include tablet {
    .Nav {
        height: 12.5vh;

        &__container {
            flex-direction: row;
            height: 100%;
            margin-left: 2.4rem;
        } 

        &__logo-container {
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 5.6rem;
        }

        &__logo {
            margin-top: -1rem
        }

        &__links-container {
            height: 100%;
        }

        &__list-item {
            margin-right: 5.6rem;
        }
    }
}

@include desktop {
    .Nav {
        &__container {
            margin-left: 6rem;
        }
    }
}

/*

 // OLD NAV STYLE //

.Header {
    height: 15vh;
    background-color: $black;
    font-family: "AvenirNextRegular";
    text-align: center;

    &__nav-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    &__links-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-list-item {
        list-style: none;   
        font-size: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        width: 50%;
    }

    &__logo {
        width: 17.5rem;
    }

    &__nav-link{
        color: $off-white;
        text-decoration: none;
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 1rem;

        &--active {
            border-bottom: 0.5rem solid white;
        }

    }

}

@include tablet {
    .Header {
        
        &__nav-list {
            flex-direction: row;
            justify-content: flex-start;
        }

        &__nav-list-item {

            margin-right: 1rem;

            &--logo {
                display: flex;
                justify-content: flex-start;
                width: 35%
            }
        }

        &__links-container {
            width: 30%;
            justify-content: flex-start;
        }

        &__nav-link {
            height: 15vh;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
 
        }
    }
}

@include desktop {
    .Header {

        height: 15vh;

        &__nav-list {
            width: 90%;
            margin: 0 auto
        }

        &__links-container {
            width: 30%;
            margin-left: -8.5rem;
            height: 100%;
        }

        &__logo {
            width: 17.5rem;
        }

        &__nav-link {
            font-size: 2rem;

            &--active {
             
                margin-right: 2rem;
            }
        }
    }
}

*/