@import "./PartialStyles/fonts";
@import "./PartialStyles/variables";
@import "./PartialStyles/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AvenirNextRegular";
}

html {
  font-size: 62.5%
}