.modal-form {

    &__heading {
        margin: 2rem 1rem;
    }

    &__field {
        display: flex;
        flex-direction: column;
    }

    &__name {
        margin: 0 0 1.5rem 1rem;
        height: 3rem;

        &--description {
            height: 5rem;
        }
    }

    &__label {
        margin: 0 0 0.5rem 1rem;
    }

    &__button {

        &--save{
            width: 220px;
            height: 3rem;
            color: white;
            background-color: #004992;
            border-radius: 4px; 
            border: none;
            margin: 0.5rem auto 0;
            padding: 0 auto;
        }

        &--cancel {
            width: 220px;
            height: 3rem;
            background-color: white;
            color: #004992;
            border-radius: 4px; 
            border: none;
            margin: 0.5rem auto 0;
        }
    }
}
