@import "../../PartialStyles/fonts";
@import "../../PartialStyles/variables";
@import "../../PartialStyles/mixins";

.SingleProduct {

    background-color: $off-white; 
    font-family: "AvenirNextRegular";
    color: $black;
    display:flex;

    &__container {
        width: 90%;
        border-bottom: 0.15rem solid $grey;
        padding-bottom: 3rem;
        position: relative;
        
        @include tablet {
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
        }
    }
    
    &__section-container {
        margin-top: 2.75rem;

        
        @include tablet {
            width: 46rem;
            display: flex;
            justify-content: space-between;;
        
            &--product {
                display: block;
                width: 92rem;
            }
        }
    }
    
    &__title {
        text-transform: uppercase;
        color: $grey;
        font-size: 14px;
        font-family: "AvenirNextDemiBold";
        margin-bottom: 1.5rem; 
        
        @include tablet {
            display: none;
        }
    }

    &__information {

        font-size: 14px;

        @include tablet {
            width: 17.22%rem;
        }

        &--name {
            font-family: 'AvenirNextBold';
            font-size: 18px;
            margin: 0.5rem 0;
        }

        
    }

    &__delete-btn {
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer;
        top: 0%;
        left: 100%;
        
        @include tablet {
            display: block;
            position: relative;
        }

        &:focus {
            outline: none
        }
    }
}
