@import "../../PartialStyles/fonts";
@import "../../PartialStyles/variables";
@import "../../PartialStyles/mixins";

.SingleProduct {

    background-color: $off-white; 
    font-family: "AvenirNextRegular";
    color: $black;
    padding-top: 16px; 

    &__container {
        width: 90%;
        border-bottom: 0.15rem solid $grey;
        padding-bottom: 3rem;
        position: relative;
    }

    &__section-container {
        margin-top: 2.75rem;
    }

    &__title {
        text-transform: uppercase;
        color: $grey;
        font-size: 14px;
        font-family: "AvenirNextDemiBold";
        margin-bottom: 1.5rem;
    }

    &__information {

        font-size: 14px;

        &--name {
            font-family: 'AvenirNextBold';
            font-size: 18px;
            margin: 0.5rem 0;
        }

        
    }

    &__delete-btn {
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer;
        top: 0%;
        left: 100%;
        

        &:focus {
            outline: none
        }
    }
}

@include tablet {
    .SingleProduct {

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__section-container {
            display: flex;
            align-items: center;

            &--product {
                display: block;
                width: 40%
            }
        }

        &__title {
            display: none;
        }

        &__delete-btn {
            display: block;
            position: relative;
        }

        
    }
}