@import "../../PartialStyles/mixins";
@import "../../PartialStyles/fonts";
@import "../../PartialStyles/variables";

.link {
    @include link-reset;
}

.addButton {
    background-color:#004992;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
    padding:60px 60px;
	text-decoration:none;
}

.addButton:active {
	position:relative;
	top:1px;
}
