@import "../../PartialStyles/mixins";
@import "../../PartialStyles/fonts";
@import "../../PartialStyles/variables";

.link {
    @include link-reset;
}

.inventory {
	margin: $spacing-top $spacing-sm 0;

	@include tablet {
		margin: $dt-spacing-lg $spacing-med 0;
	}
	@include desktop {
		margin: $dt-spacing-lg 5rem 7.5rem;
	}

	&__header {
		@include tablet {
			display: flex;
			justify-content: space-between;
		}
	}

	&__title {
		@include mb-text-1;
		margin-bottom: $spacing-sm;
		@include tablet {
		  @include text-1;
		  margin-bottom: $spacing-med;
		}
	  }

	  &__table-heading {
		@include tablet {
		  margin: 0 $spacing-med;
		  display: flex;
		  justify-content: flex-start;;
		//   width: 1152px;
		}
	  }
	  &__table {
		  display: none;
		  @include tablet {
			  display: unset;
			  width: 46rem;
			  @include label-text;
			}
		}
		
		&__table--large {
		  display: none;
		  @include tablet {
			display: unset;
			width: 92rem;
			@include label-text;
		  }
		}
}

.addButton {
	background-color:#004992;
	border:none;
	border-radius:50%;
	position: fixed;
	bottom: 15%;
	right: 7%;
	display:inline-block;
	cursor:pointer;
    padding: 1.875rem;
	text-decoration:none;

	&__plus {
		height: 20px;
		width: 25px;
	}
}

