@import "../../PartialStyles/fonts";
@import "../../PartialStyles/mixins";
@import "../../PartialStyles/variables";

.warehouses {
  margin: 0 $spacing-sm;
  margin-top: $spacing-top;
  &__link {
    @include link-reset;
  }
  &__title{
    @include mb-text-1;
    margin-bottom: $spacing-sm;
    @include tablet {
      @include text-1;
    }
  }
  &__subheading{
    display:none;
  }
  &__item {
    border-bottom: 1px solid $light-grey;
  }
}
