@import "../../PartialStyles/fonts";
@import "../../PartialStyles/mixins";
@import "../../PartialStyles/variables";


.modal-form {
  width: 320px;
  height: 100vh;
  padding: $spacing-sm;
  @include tablet {
    height: 80vh;
    max-height: 1000px;
    width: 600px;
    padding: $spacing-lg;
  }
  &__heading {
    @include mb-text-1;
    margin: $spacing-med 0;
    @include tablet {
      @include text-1;
    }
  }
  &__row {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__field {
    margin-top: $spacing-med;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
    &--large {
      @include tablet {
        width: 100%;
      }
    }
  }
  &__label {
    @include label-text;
    color: $grey;
  }
  &__input {
    @include mb-text-2;
    width: 100%;
    height: 50px;
    padding-top: 2px;
    padding-left: 20px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    background: $off-white;
    resize: none;
    @include tablet {
      width: 235px;

    }
    &::placeholder{
      color: $black;
    }
    &:focus{
      outline: none;
    }
    &--large {
      height: 80px;
      padding-top: 10px;
      margin-bottom: $spacing-med;
      resize: none;
      @include tablet {
        width: 100%;
      }
    }
  }
  &__buttonwrap {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-med;
    @include tablet {
      flex-direction: row-reverse;
    }
  }
  &__button {
    @include mb-text-2;
    height: 50px;
    background-color: $white;
    margin-bottom: $spacing-sm;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "AvenirNextDemiBold";
    color: $dark-blue;
    cursor: pointer;
    @include tablet {
      width: 150px;
    }
    &--blue {
      background-color: $dark-blue;
      color: $white;
      cursor: pointer;
    }
  }
}

