@import "../../PartialStyles/fonts";
@import "../../PartialStyles/mixins";
@import "../../PartialStyles/variables";

.warehouseItem {
  &__block {
    margin-bottom: $spacing-sm;
    @include tablet {
      width: 33%;
    }
  }
  &__block--first {
    display: flex;
    justify-content: space-between;
    padding-top: $spacing-med;
    @include tablet {
      margin-bottom: $spacing-top;
    }
  }
  &__block--last {
    margin-bottom: $spacing-med;
  }
  &__bottom-blocks {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__heading {
    @include text-4;
    font-family: "AvenirNextDemiBold";
    margin-bottom: $spacing-xs;
  }
  &__info {
    @include text-5;
  }
  &__info--italic {
    font-style: italic;
  }
  &__icon {
    position: absolute;
    top: 25px;
    right: 20px;
    @include tablet {
      top: 35px;
    }
  }
}