@font-face {
  font-family: "AvenirNextRegular";
  src: url("../assets/Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("../assets/Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "AvenirNextDemiBold";
  src: url("../assets/Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url("../assets/Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("../assets/Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "AvenirNextDemiBold";
  src: url("../assets/Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@media screen and (min-width: 1200px) {
  .warehouseItem__all-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.warehouseItem__block {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .warehouseItem__block {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .warehouseItem__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 245px;
    margin-bottom: 24px;
  }
}

.warehouseItem__block--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .warehouseItem__block--first {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .warehouseItem__block--first {
    padding-top: 0;
    margin-bottom: 24px;
    width: 290px;
  }
}

.warehouseItem__block--last {
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .warehouseItem__block--last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .warehouseItem__bottom-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .warehouseItem__bottom-blocks {
    width: 75%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 20px;
  }
}

.warehouseItem__heading {
  font-size: 1.7rem;
  line-height: 20px;
  font-family: "AvenirNextDemiBold";
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .warehouseItem__heading {
    margin-bottom: 0;
  }
}

.warehouseItem__info {
  font-size: 1.3rem;
  line-height: 20px;
}

.warehouseItem__info--italic {
  font-style: italic;
}

.warehouseItem__icon {
  position: absolute;
  top: 25px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .warehouseItem__icon {
    top: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .warehouseItem__icon {
    top: 10px;
  }
}
/*# sourceMappingURL=singlewarehouse.css.map */