@import "../../PartialStyles/fonts";
@import "../../PartialStyles/mixins";
@import "../../PartialStyles/variables";

.warehouseItem {
  &__block {
    margin-bottom: $spacing-sm;
  }
  &__block--first {
    display: flex;
    justify-content: space-between;
    padding-top: $spacing-med;
  }
  &__block--last {
    margin-bottom: $spacing-med;
  }
  &__heading {
    @include text-4;
    font-family: "AvenirNextDemiBold";
    margin-bottom: $spacing-xs;
  }
  &__info {
    @include text-5;
  }
  &__info--italic {
    font-style: italic;
  }
  &__icon {
    align-self: flex-start;
    margin-top: 5px;
  }
}