@import '../../PartialStyles/fonts';
@import '../../PartialStyles/variables';
@import '../../PartialStyles/mixins';



.OneWarehouse {
    margin-left: 16px;
    margin-right: 16px; 
    @include tablet {
        margin-left: 24px;
        margin-right: 24px; 
    }
    @include desktop {
        margin-left: 180px;
        margin-right: 180px; 
    }
    &__name {
        font-size: 2.2rem; 
        font-family: 'AvenirNextBold'; 
        margin-top: 16px; 
        color: $black; 
        @include tablet {
            font-size: 4.5rem; 
        }
    }
    &__backArrow {
        margin-right: 16px; 
        vertical-align: middle; 
        @include tablet {
            margin-right: 24px; 
        }
    }
    &__subheading {
        text-transform: uppercase;
        color: $grey; 
        font-size: 14px; 
        font-family: 'AvenirNextDemiBold'; 
        margin-top: 16px; 
        margin-bottom: 16px;  
    }
    &__text {
        font-size: 14px; 
    }
    &__contact-info {
        margin-top: 16px; 
        margin-bottom: 16px; 
    }
    &__flex-container {
        @include tablet {
            width: 75%; 
            display: flex; 
            justify-content: space-between; 
        }
    }
}