@import '../../PartialStyles/fonts';
@import '../../PartialStyles/variables';
@import '../../PartialStyles/mixins';

.container {
    position: relative;
}

.dropdown {
        position: absolute;
        width: 161px;
        height: 44px; 
        border: 1px solid $grey;       
        &__text {
            padding: 6px 10px; 
        }
}